body{
    background-color: #181716;
}

h1{
    color: white;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    transition: background 0.4s;
}

button{
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-inline: 4px;
    background-color: #fff;
    outline: none;
    height: 100%;
}
button:hover{
    background-color: rgb(173, 71, 71);
    color: white;
}

a,
a:active{color: black;}


p{
    margin: 3px;
        
}

h1 span{
    display: block;
    margin: 5px;
    
}


.game-controls{
    display: flex;
    justify-content: space-around;
    background-color: white;
    min-height: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
    height: 300px;
    margin: 30px auto;
    padding: 10px;
}

.new_color{
    margin-left: 10px;
}


.container__color-panel{
    background: white;
    margin: 1.66%;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transition: background 0.4s;    
}